<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dummy.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dummy.description %>
</p>

<%= link_to 'Edit', edit_dummy_path(@dummy) %> |
<%= link_to 'Back', dummies_path %>
