<div class='container content'>
  <% if @zombie.present? %>
    <h1><%= @zombie.name %>'s tweets</h1>
  <% else %>
    <h1>Tweets</h1>
  <% end %>

  <% if @tweets.size.zero? %>
    <p class='lead text-muted'>No tweets are available.</p>
  <% else %>
    <table class='table'>
      <tr>
        <th>Status</th>
        <th>Zombie</th>
        <th></th>
      </tr>

      <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.status %></td>
        <td><%= link_to tweet.zombie.name, tweet.zombie %></td>
        <td>
          <%= link_to 'Show', tweet, class: 'btn btn-success btn-xs' %>
          <%= link_to 'Remove', tweet, method: :delete, class: 'btn btn-danger btn-xs' %>
        </td>
      </tr>
      <% end %>
    </table>
  <% end %>

  <% if @zombie.present? %>
    <%= link_to 'All tweets', tweets_path %>
  <% end %>

  <%#= link_to "New Tweet", new_tweet_path %>
  <!-- <a href="<%#= new_tweet_path %>" class='btn btn-primary'><i class='glyphicon glyphicon-plus'></i> New Tweet</a> -->

  <hr>
  <h1>New Tweet</h1>
  <div class="row">
    <div class="col-sm-6">
      <%= form_for @tweet || Tweet.new do |f| %>
        <div class="form-group field">
          <%= f.label :status %>
          <%= f.text_field :status, class: 'form-control' %>
        </div>

        <div class="form-group field">
          <%= f.label :zombie_id %>
          <%= f.collection_select :zombie_id, Zombie.all, :id, :name %>
        </div>

        <div class="form-group">
          <%= f.submit class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>

</div>
