<div class="container content">

  <h1>Reading List</h1>

  <ol class="breadcrumb">
    <li class="active">
      Books
    </li>
  </ol>

  <!-- <form>
    <legend>Search</legend>
    <div class="row">
      <div class='col-xs-4'>
        <input type='text' class='form-control' value='<%#= params[:keyword] %>' name='keyword' placeholder='Keyword' >
      </div>
    </div>
  </form> -->

  <%= form_tag books_path, method: :get do  %>
    <legend>Search</legend>
    <div class="row">
      <div class="col-xs-4">
        <%= text_field_tag :keyword, params[:keyword], placeholder: 'Keyword', class: 'form-control' %>
      </div>

      <div class="col-xs-4 col-xs-offset-4 text-right">
        <a href='#' id='show-form' class='btn btn-primary'>New Book Form</a>
      </div>
    </div>
  <% end %>
  <hr>

  <div class="book-form">
    <%= form_for(Book.new) do |f| %>
      <legend>New Book</legend>

      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
          </div>

          <div class="form-group">
            <%= f.text_field :author, class: 'form-control', placeholder: 'Author' %>
          </div>

          <div class='form-group'>
            <%= f.text_field :description, class: 'form-control', placeholder: 'Description' %>
          </div>

          <div class='form-group'>
            <%= f.text_field :amazon_id, class: 'form-control', placeholder: 'Amazon ID' %>
          </div>

          <div class='form-group'>
            <legend>Rating</legend>
            <% (1..5).each do |rating| %>
              <label class='radio-inline'>
                <%= f.radio_button :rating, rating %> <%= rating %>
              </label>
            <% end %>
          </div>

          <div class='form-group'>
            <%= f.submit class: 'btn btn-primary' %>
          </div>

        </div>
      </div>

    <% end %>
    <hr>
  </div>


  <% @books.each do |book| %>
    <div class="row">
      <div class="col-sm-8">
        <ul class="list-unstyled book-list">
          <li class="row rating-<%= book.rating %>">
            <div class="col-sm-3">
              <!-- <a href="#" target="_blank">
                <%#= image_from_amazon(book.amazon_id) %>
              </a> -->
              <%= image_from_amazon(book.amazon_id) %>
              <p class="text-center rating"><strong><%= book.rating %></strong>/5</p>
            </div>

            <div class="col-sm-9">
              <h3><a href="#"><%= book.title %></a></h3>
              <p class="text-muted"><em>Written by <%= book.author %></em></p>

              <div>
                <p>
                  <%= book.description %>
                </p>
              </div>
              <span>
                <% book.genres.each do |genre| %>
                  <%= link_to genre.name, '#', class: 'label label-primary' %>
                <% end %>
              </span>
            </div>
          </li>
        </ul>
      </div>

      <div class="col-sm-4">
      </div>
    </div>
  <% end %>

</div>
