<!DOCTYPE html>
<html>
<head>
  <title>Trepic</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= render 'header' %>

    <div id='container'>
      <%= yield %>
    </div>

    <%#= render 'footer' %>

    <% flash.each do |name, msg| %>
      <%= render 'flash', name: name, msg: msg %>
    <% end %>

    <%#= render 'flash', name: 'notice', msg: 'Flash Message Test' %>
    <%#= render 'flash', name: 'warning', msg: 'Flash Message Test' %>

  </div>
</body>
</html>
